.form {
    padding-top: 50px
}
.form .form-center {
    width: 30%;
    margin: 0 auto;
}
.form h1 {
    color: #1fa67b;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 18px;
}

.form label {
    color: #1fa67b;
}

.form .btn-custom {
    color: #fff;
    width: 100%;
    background-color: #1fa67b;
}

.form .btn-custom:hover,
.form .btn-custom:focus {
    background-color: #179E73;
}