<div class="form">
  <div class="container">
      <div class="row">
          <div class="col-xs-12">
              <div class="form-center">
                  <h1>User Login</h1>
                  <form role="form" autocomplete="off" #loginForm="ngForm">
                      
                    <div class="form-group">
                        <label for="name">Name: </label>
                        <input type="text" name ="name"
                            id="name" 
                            class="form-control" 
                            placeholder="Name" 
                            required                               
                            minlength = "3"
                            customValidator
                            [(ngModel)] = "user.name" 
                            #name="ngModel"
                        >
                        <app-error-blocks [element] = name></app-error-blocks>
                    </div>
                      
                    <div class="form-group">
                        <label for="lastname">LastName: </label>
                        <input type="text" name="lastname"
                            id="lastname" 
                            class="form-control" 
                            placeholder="LastName" 
                            required
                            minlength = "5"
                            customValidator
                            [(ngModel)] = "user.lastname" 
                            #lastname="ngModel"
                        >
                        <app-error-blocks [element] = lastname></app-error-blocks>  
                    </div>
                    

                    <div class="form-group">
                        <label for="email">Email: </label>
                        <input type="email" name="email"
                            id="email" 
                            class="form-control" 
                            placeholder="Email" 
                            required
                            [(ngModel)] = "user.email" 
                            #email = "ngModel" email
                        >
                        <app-error-blocks [element] = email></app-error-blocks>
                    </div>
                    
                    
                    <button type="submit" class="btn btn-custom"  [disabled]="loginForm.invalid">Submit</button>
                  </form>
                  <hr>
              </div>
          </div>
      </div>
  </div>
</div>
