<div *ngIf="element.invalid && (element.dirty || element.touched)"
  class="alert alert-danger">

  <div *ngIf="element.errors.required">
      <span class="cap">{{element.name}}</span> is required.
  </div>
  
  <div *ngIf="element.errors.minlength">
    <span class="cap">{{element.name}}</span> must be at least 
    <span style="font-weight: bold;">{{ element.errors.minlength.requiredLength }}</span> characters long.
  </div>
  
  <div *ngIf="element.errors.customValidator">
    <span class="cap">{{element.name}}</span> must start with a capital letter.
  </div> 
  
  <div *ngIf="element.errors.email">
      Email is wrong.
  </div> 
  
</div>